body {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

p {
	font-size: 1.3em;
}

li {
	margin: 15px !important;
	font-size: 2em;
	font-weight: bold;
}

.center-it {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}
